DisplayUI {
    layout: horizontal;
    width: 100%;
    content-align: center middle;
}

WorldUI {
    layout: vertical;
    background: $boost;
    content-align-horizontal: center;
    height: 22;
    width: 90;
    margin: 1;
    padding: 1;
}

InventoryUI {
    layout: vertical;
    background: $boost;
    content-align-horizontal: center;
    height: 22;
    width: 30;
    margin: 1;
    padding: 1;
}

#WorldTitle, #InventoryTitle {
    content-align-horizontal: center;
    padding-bottom: 1;
    width: 100%;
}
